@using InfoWebApp.Models
@using InfoWebApp.Scraper
@model List<InfoWebApp.Models.Article>

    <div class="jumbotron">
        <p class="lead">Objave sa "Vodovoda i kanalizacije", "Nastavnog zavoda za javno zdravstvo", "Elektrodalmacije" i "Agencije za pravni promet i posredovanje nekretninama"</p>
    </div>
<div class="row">

    <section class="content">
        <h1>Objave</h1>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-container">
                        <table class="table table-filter">
                            <tbody>
                            @foreach (var item in Model)
                            {
                                string color = "";
                                switch (item.ArticleType)
                                {
                                    case ArticleType.Vik: color = "#F0F8FF"; break;
                                    case ArticleType.Nzjz: color = "#FFFACD"; break;
                                }
                                <tr>
                                    <td style="background-color: @color;">
                                        <div class="media">
                                            <div class="media-body">
                                                <span class="media-meta pull-right">@Html.DisplayFor(modelItem => item.UpdateDateTime)</span>
                                                <h4 class="title">
                                                    @Html.DisplayFor(modelItem => item.ArticleType) - 
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                    @*<span class="pull-right pagado">(Pagado)</span>*@
                                                </h4>
                                                <p class="summary">@Html.DisplayFor(modelItem => item.ShortText)</p>
                                                <p><a href='@item.Link'>Više...</a></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerysignalr")
<script src="~/signalr/hubs"></script>

<script type="text/javascript">
    var articleHubProxy = $.connection.ArticleHub;
    
    articleHubProxy.client.addNewMessageToPage = function (name, article) {
        console.log(article);
        $('.table tbody').append('<tr><td style="background-color: #f9c2b8;"> ' +
            '<div class="media"> ' +
            '<div class="media-body"> ' +
            '<span class="media-meta pull-right">' + new Date(article.UpdateDateTime).toLocaleDateString() + '</span>' +
            '<h4 class="title">' +
             article.Title + 
            '</h4>' +
            '<p class="summary">' + article.ShortText + ')</p>' +
            '<p><a href="' + article.Link +'">Više...</a></p>' +
                '</div>' +
                '</div>' +
            '</td></tr>');
    };

    $.connection.hub.start().done(function () {
        console.log('Notification hub started');
    });
</script>